.navbar-red
  background: #283347
  color: #fff
  margin: 0

  a
    color: #fff

.nav
  li
    a
      color: #fff

      &:hover
        background: #34435d

    &.active
      background: #34435d

.main-container
  background: #f6f6f6
  border: 1px solid #e3e3e3
  margin: 30px 0 60px 0

.main
  background: #fff
  border-right: 1px solid #e3e3e3
  padding: 0 20px 20px 20px

  .article
    border-bottom: 1px solid #e3e3e3
    padding: 0 0 20px 0

  .details
    +clearfix
    color: #999
    margin: 5px 0

    .type
      border: 1px solid #ccc
      font-size: 12px
      padding: 3px 5px

  .content
    p
      line-height: 26px

    ul, ol
      margin: 0 0 10px 20px

    ol
      list-style-type: decimal

    img
      +inline-block
      +transition(all 0.2s ease-in-out)
      background-color: #fff
      border: 1px solid #ddd
      height: auto
      line-height: 1.4
      max-width: 100%
      padding: 4px

  .meta
    +clearfix

.sidebar
  +clearfix
  border-left: 1px solid #e3e3e3
  margin: 0 0 0 -1px
  padding: 20px

  .info
    border-bottom: 1px solid #ddd
    padding: 0 0 20px 0
    margin: 0 0 20px 0

.files
  .media-list
    border-bottom: 1px solid #ddd
    padding: 0 0 20px 0

  .media
    +clearfix

    .pull-left
      margin: 0 10px 0 0

  .file-type
    background: #ccc
    color: #777
    font-size: 16px
    line-height: 10px
    overflow: hidden
    padding: 20px 0
    text-align: center
    text-transform: uppercase
    vertical-align: middle
    width: 70px

.pagination
  margin: 20px 0 0 0

.footer
  a
    color: #999
