<ul class="nav navbar-nav navbar-left">
  <li><%= link_to 'Методические пособия', '/metodicheskie-posobiya/' %></li>
  <li><%= link_to 'Программы', '/programmy-dlya-rascheta/' %></li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li><%= link_to 'О сайте', '/about/' %></li>
</ul>
