<h3><%= link_to article.title, article.url %></h3>
<%#= partial 'layouts/commons/meta', :locals => { :article => article } %>

<%#= partial 'layouts/commons/tags', :locals => { :article => article } %>
