<div class="blog-tags">
  <ul>
    <li>Теги:</li>
    <% [:manuals, :softwares].each do |section| %>
      <% blog(section).tags.each do |tag, articles| %>
        <li><%= link_to tag, tag_path(tag, section) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
